<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Edit Opintosuoritus</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <style>
    * {
        box-sizing: border-box;
    }

    h2 {
        font-family: "Big Shoulders Stencil Text", cursive;
    }

    @media screen and (max-width: 1100px) {
    .col-25, .col-75, .colDate, input[type=submit] {
    width: 100%;
    margin-top: 0;
        }
    }
    </style>
</head>
<body>

	<% if (messages.error) { %>
	<div role="alert"><%- messages.error %></div>
	<% } %>

    <div> 
    	<div>
            <h2>Edit Opintosuoritus</h2>
            <hr>
            <p> </p>
		</div>
        <div class="containerAdd">
            <form action="/opintosuoritus/update/<%= idArvionti %>" method="post">
                <div class="row">
                    <div class="col-25">
                        <label for="paivamaara">Päivämäärä:</label>
                    </div>
                    <div class="colDate">
                        <input type="date" id="paivamaara" name="Paivamaara" value="<%= Paivamaara %>" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="arvosana">Arviointi:</label>
                    </div>
                    <div class="col-75">
                        <input type="number" id="arvosana" name="Arvosana" value="<%= Arvosana %>" min="0" max="5" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="idopiskelija">Opiskelijan id:</label>
                    </div>
                    <div class="col-75">
                        <input type="number" id="idopiskelija" name="idOpiskelija" value="<%= idOpiskelija %>" min="1" max="5" autocomplete="off">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="idopintojakso">Opintojakson id:</label>
                    </div>
                    <div class="col-75">
                        <input type="number" id="idopintojakso" name="idOpintojakso" value="<%= idOpintojakso %>" min="1" max="9" autocomplete="off">
                    </div>
                </div>
                <br>
                <div class="row">
                    <input type="submit" value="Update"/>
                </div>
            </form>
        </div>
    </div>

</body>
</html>